/*GLOBAL*/
.global_container {
  background-color: rgb(107, 155, 155);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.container {
  display: flex;
  flex: 1;
}
.text_W {
  color: white;
  font-family: "P_Light";
  font-size: 1.4vw;
}
.text_small_W {
  color: white;
  font-family: "P_Light";
  font-size: 1vw;
}

.text_verysmall_W {
  color: white;
  font-family: "P_Light";
  font-size: 0.9vw;
}

.text_G {
  color: rgb(107, 155, 155);
  font-size: 1.25vw;
}

.text_B {
  color: black;
  font-family: "P_Light";
  text-align: start;
  font-size: 1.2vw;
}
.title {
  color: white;
  font-size: 3vw;
  font-weight: bolder;
  font-family: "R_VariableFont";
}
.title2_big {
  color: rgb(107, 155, 155);
  font-size: 3vw;
  font-weight: bold;
  font-family: "R_VariableFont";
}
.title2 {
  color: rgb(107, 155, 155);
  font-size: 2vw;
  font-weight: bold;
  font-family: "R_VariableFont";
}
.title3 {
  color: white;
  font-family: "P_SemiBold";
  font-size: 1.4vw;
}

.row {
  display: flex;
  flex: 1;
}

.double_row {
  display: flex;
  flex: 2;
}

.sub_column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex: 1;
}

.sub_row {
  display: flex;
  flex-direction: column;
}
.textbox {
  display: flex;
  flex: 1;
  max-width: 30vw;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

/*Main*/
.main_container {
  padding-top: 1%;
  display: flex;
  flex: 1;
}

.main_picture_container {
  display: flex;
  flex: 1;
  padding-right: 2.5%;
  padding-left: 2.5%;
  justify-content: center;
}
.main_picture {
  max-height: 70vh;
  object-fit: cover;
}

.main_text_prog_container {
  display: flex;
  padding-right: 2.5%;
  padding-left: 2.5%;
  flex: 2;
  flex-direction: column;
  text-align: start;
  justify-content: space-between;
}
.main_text_container {
  display: flex;
  flex: 1;
  text-align: start;
}

.button_container {
  margin-top: 10%;
  display: flex;
  align-items: flex-end;
}

.button {
  display: flex;
  border-style: none;
  background-color: white;
  text-decoration: none;
  color: rgb(107, 155, 155);
  font-size: 2vw;
  font-weight: bolder;
  border-radius: 10px;
}

/*Festival*/
.festival_container {
  display: flex;
  flex-direction: column;
}
.festival_container_1 {
  display: flex;
  flex: 1;
  height: fit-content;
  background-color: rgb(107, 155, 155);
  padding-bottom: 1%;
  min-height: 75vh;
}

.festival_container_2 {
  display: flex;
  flex: 1;
  padding: 2.5%;
  height: fit-content;
  min-height: 100vh;
  background-color: white;
}

.festival_container_3 {
  display: flex;
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-top: 1%;
  padding-bottom: 2%;
  flex: 1;
  min-height: 100vh;
  flex-direction: column;
  background-image: url("./images/circle_background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200vh;
}
.festival_container_4 {
  display: flex;
  flex-direction: row;
  padding: 2.5%;
  flex: 1;
  height: fit-content;
  min-height: 100vh;
  background-color: white;
}
.festival_column {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.festival_column_pictures {
  display: grid;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.festival_column_text {
  display: flex;
  flex: 4;
  padding-left: 2.5%;
  flex-direction: column;
  justify-content: space-evenly;
}
.festival_sub_column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex: 1;
  margin: 5px;
}
.festival_row {
  display: flex;
  flex: 1;
}

.festival_row2 {
  display: flex;
  flex: 2;
}

.festival_row_text {
  text-align: start;
}
.festival_textbox {
  display: flex;
  flex: 1;
  max-width: 50vw;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.festival_title2_container {
  display: flex;
  flex: 1;
  align-items: center;
}
.festival_container_textB {
  display: flex;
  flex: 1;
  padding-left: 5%;
  padding-right: 5%;
}
.festival_text {
  display: flex;
  padding-right: 2.5%;
  padding-left: 2.5%;
  flex: 2;
  flex-direction: column;
  text-align: start;
}

.festival_container_picture {
  display: flex;
  flex: 1.5;
  padding-right: 2.5%;
  padding-left: 2.5%;
}
.festival_picture {
  max-width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.festival_pic_wrapped {
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
  width: 20vw;
  margin-bottom: -15%;
}

/*
Bénévoles
*/

.benevoles_container {
  display: flex;
  padding-left: 2.5%;
  padding-right: 2.5%;
  min-height: 75vh;
}
.benevoles_column1 {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.benevoles_column2 {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.benevole_title {
  text-align: start;
}

.benevole_text {
  text-align: start;
}
.pic_bene {
  padding: 0.5%;
  object-fit: cover;
  display: flex;
  aspect-ratio: 1/1;
  height: 30vh;
}

/*
MATCHS D'IMPROS
*/
.match_container {
  display: flex;
  flex: 1;
  min-height: 80vh;
  flex-direction: column;
}
.match_rules_container {
  display: flex;
  flex-direction: row;
  padding-left: 0.5%;
  padding-right: 0.5%;
  height: 80vh;
}

.match_column {
  flex: 1;
  padding-left: 1%;
  padding-right: 1%;
}

.match_title {
  text-align: start;
}

.match_text {
  text-align: start;
}

.match_circle {
  display: flex;
  min-height: 75vh;
  flex-direction: column;
  background-image: url("./images/circle_background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 160vh;
}
/*Editions*/

.edition_container {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: white;
  padding: 2.5%;
}
.edition_title {
  text-align: start;
  flex: 0.5;
}
.edition_text {
  flex: 0.5;
  text-align: start;
}
.edition_photos {
  padding-top: 2%;
  display: flex;
  flex: 2.5;
  justify-content: center;
  align-items: center;
}
.carousel {
  display: flex;
  justify-content: center;

  max-width: 50vw;
}
.pic_edition {
  max-height: 75vh;
  object-fit: contain;
}

/*
COURS
*/
.cours {
  display: flex;
  flex-direction: column;
  padding-left: 2.5%;
  padding-right: 2.5%;
}
.cours_container1 {
  flex: 1;
  min-height: 80vh;
}
.cours_container2 {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-top: 2%;
  min-height: 100vh;
}
.cours_text_container {
  display: flex;
}
.cours_title {
  text-align: start;
  margin-bottom: 2%;
}

.cours_text1 {
  flex: 1;
  text-align: start;
  padding-right: 2.5%;
}
.cours_text2 {
  flex: 2;

  text-align: start;
  border-color: white;
  border-style: solid;
  border-top: none;
  border-bottom: none;
  border-right: none;
  padding-left: 2.5%;
  padding-bottom: 1%;
}

.cours_text3 {
  text-align: start;
  padding-bottom: 1%;
  flex: 1;
}

.cours_photos {
  display: flex;
  flex: 2;
}
.cours_main_photo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cours_big {
  min-width: 38vw;
  max-width: 48vw;
}
.cours_small_photo {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.cours_small_photo_row {
  flex: 1;
  display: flex;
  justify-content: space-around;
}

.cours_small {
  max-width: 20vw;
  object-fit: contain;
}

/*
PROGRAMMATION 
*/

.progra_container {
  display: flex;
  flex-direction: column;
}
.progra_header {
  margin-left: 6.6%;
}
.progra_cols {
  display: flex;
}

.progra_col {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: left;
  padding-left: 2%;
  margin: 2px;
}

.progra_title {
  font-family: "R_VariableFont";
  font-weight: bold;
  display: flex;
  flex: 1;
  justify-content: center;
  color: white;
}
.progra_title_main {
  font-size: 3vw;
  justify-content: start;
}
.progra_col_main {
  flex: 9;
}

.progra_leg {
  width: fit-content;
}

.legende {
  width: 30vw;
  aspect-ratio: 1/1;
}

.progra_title_day {
  font-size: 2.5vw;
}

.progra_list {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.item {
  margin-top: 10px;
}

.small_scene {
  width: 30px;
  margin-right: 10px;
}

.heure {
  color: white;
  font-family: "R_VariableFont";
  font-weight: bold;
  font-size: 25px;
  margin-right: 10px;
}

.titre {
  color: white;
  font-family: "P_Regular";
  text-decoration: underline;
  font-size: 20px;
}

.titre:hover {
  color: gainsboro;
}

/*
Spectacle
*/

.spec_container {
  display: flex;
  margin: 5%;
  margin-top: 2.5%;
  margin-bottom: 0%;
}
.spec_pic_container {
  flex: 1;
  display: flex;
}
.spec_pic {
  flex: 1;
  width: 80%;
  border-radius: 100%;
}
.spec_infos {
  margin-left: 5%;
  flex: 2;
  display: flex;
  flex-direction: column;
  color: white;
  text-align: left;
  font-weight: bold;
}
.spec_datas {
  flex: 2;
  display: flex;
  flex-direction: column;
}
.spec_titre {
  flex: 2;
  font-family: "R_VariableFont";
  font-size: 3vw;
  display: flex;
  align-items: center;
}

.medium_scene {
  margin-left: 10px;
  width: 50px;
}
.spec_cie {
  flex: 1;
  font-size: 1.3vw;
  font-style: italic;
  font-family: "P_BoldItalic";
}
.spec_det {
  flex: 1;
  font-size: 1.3vw;
  font-family: "P_Regular";
}
.spec_resume {
  flex: 4;
  display: flex;
  align-items: center;
  font-family: "P_Regular";
  font-size: 1.3vw;
  line-height: 5vh;
  font-weight: normal;
}
/*
TARIFS
*/
.tarifs_container {
  display: flex;
  flex-direction: column;
  min-height: 75vh;
  flex: 1;
}

.tarifs_infos {
  flex: 15;
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
}

.tarifs_title {
  display: flex;
  flex: 1;
  margin-bottom: 1%;
}
.tarifs_details {
  display: flex;
  flex: 8;
  margin-bottom: 2%;
}

.tarifs {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.tarifs_l {
  border-right: solid;
  border-width: 1.75px;
  border-color: white;
  padding-right: 5%;
}
.tarifs_r {
  border-left: solid;
  border-width: 1.75px;
  border-color: white;
  padding-left: 5%;
  display: flex;
  flex-direction: row;
}
.tarif_normaux {
  flex: 5;
  padding-right: 0;
}
.tarifs_infos_bonus {
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: center;
}

.tarifs_bonus {
  display: flex;
  align-items: end;
}

.tarifs_bonus_text {
  border-radius: 20;
  color: white;
  font-size: 1.1vw;
  padding: 10%;
  border-radius: 10px;
  background-color: #005a5b;
}

.tarifs_subtitle {
  display: flex;
  justify-content: space-between;
  font-family: "R_VariableFont";
  font-weight: bold;
  margin-bottom: 2%;
  font-size: 1.6vw;
  margin-right: 15%;
  color: #005a5b;
}
.tarifs_head {
  flex: 2;
  display: flex;
  font-family: "R_VariableFont";
  font-weight: bold;
  color: #005a5b;
  justify-content: start;
  font-size: 1.2vw;
  margin-top: 5%;
}
.tarifs_j {
  flex: 1;
}

.tarifs_element {
  display: flex;
  justify-content: space-between;
  margin-right: 15%;
  margin-left: 20px;
  color: white;
  font-family: "P_Regular";
  font-size: 0.8vw;
}

.tarifs_band {
  display: flex;
  background-color: #c9b43e;
  flex: 1;
  margin-bottom: 2%;
  justify-content: center;
  align-items: center;
}
.tarif_pic {
  width: 100px;
}

.banderole_text {
  color: white;
  font-size: 1.5vw;
  font-family: "p_Bold";
  margin-left: 2%;
  margin-right: 2%;
}

/*
VENIR
*/

.venir_container {
  display: flex;
  min-height: 75vh;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 10%;
}
.venir_title {
  flex: 1;
  display: flex;
}

.venir_infos {
  display: flex;
  flex: 9;
}
.venir_carte {
  flex: 13;
  display: flex;
}
.venir_texts {
  flex: 17;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
}
.venir_subtitle {
  color: #005a5b;
  font-family: "P_Bold";
  font-size: 1.5vw;
}
.venir_text {
  color: white;
  font-family: "P_Regular";
}
.map {
  aspect-ratio: auto;
  margin: 5%;
}
/*Autre*/
.header {
  display: flex;
  flex-direction: row;
  padding-left: 2.5%;
  padding-right: 2.5%;
  height: auto;
  align-items: center;
  min-height: 25vh;
}
.logo {
  display: flex;
  width: auto;
  height: auto;
  max-width: 15vw;
  max-height: 25vh;
}
.logoW {
  width: 100%;
}
.navBar {
  display: flex;
  flex: 1;
  min-width: 10vw;
  justify-content: space-evenly;
}

.navBar_text {
  display: flex;
  justify-content: center;
  font-family: "R_VariableFont";
  font-size: 1.5vw;
  padding: 1%;
  font-weight: bold;
  color: white;
}
.navBar_text:hover {
  background-color: #9bbabb;
  border-radius: 5px;
}
div.dropdown-menu.show {
  background-color: #9bbabb;
  border: 0;
}

a.dropdown-item {
  color: #ffffff;
}
.row {
  flex: 1;
}
.temp_pic {
  display: flex;
  flex: 1;
  max-width: 30vw;
  height: 45%;
  border-radius: 50%;
  object-fit: cover;
  aspect-ratio: 1/1;
}

.link {
  text-decoration: none;
  color: inherit;
}
.link:hover {
  text-decoration: none;
  color: inherit;
}
